{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3> Change account details </h3>
    </div>
  </div> <!-- row -->
  {% include "includeable/message_displayer.html" %}
  <div class="row">
    <div class="col-6">
      <form method="post">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}
          {% if form.is_bound %}
            {% if field.errors %}
              {% render_field field class="form-control is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">
                  {{ error }}
                </div>
              {% endfor %}
            {% else %}
              {% render_field field class="form-control is-valid" %}
            {% endif %}
          {% else %}
            {% render_field field class="form-control" %}
          {% endif %}
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
        {% endfor %}
        <button type="submit"  class="btn btn-primary">Update account details</button>
      </form>
    </div><!-- col -->
  </div> <!-- row -->
</div><!-- container -->

{% endblock %}
