{% extends "base_generic.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>&nbsp;</p>
        <h1 class="display-4 main-page-headline">Great companies know their people!</h1>
          <p class="lead text-white">
            <!-- Software to help you increase employee satisfaction and loyalty. -->
            Automatic employee satisfaction tracking.
          </p><br />
        <a class="btn btn-warning btn-lg" href="#" role="button">Try for free</a>
        <p class="text-white"><small>Pick a plan, cancel anytime.</small></p>
      </div> <!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- jumbotron -->
<div class="container">

  <div class="row">
    <div class="col">
      One col below jumbo
    </div>
  </div> <!-- row -->

  <div class="row">
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div> <!-- row -->
</div><!-- container -->
{% endblock %}
